<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-feature android:name="android.hardware.bluetooth" />

    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:required="true" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:required="true" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:required="true" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".ATTrackingDetectionApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ATTrackingDetection"
        android:localeConfig="@xml/locales_config"
        android:largeHeap="true"
        tools:targetApi="tiramisu"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false">

        <activity
            android:name=".ui.TrackingNotificationActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:parentActivityName=".ui.MainActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="de.seemoo.at_tracking_detection.TRACKING_NOTIFICATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

        <receiver
            android:name=".notifications.NotificationActionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="de.seemoo.at_tracking_detection.FALSE_ALARM" />
                <action android:name="de.seemoo.at_tracking_detection.IGNORE_DEVIE" />
                <action android:name="de.seemoo.at_tracking_detection.DISMISSED_ACTION" />
                <action android:name="de.seemoo.at_tracking_detection.CLICKED_ACTION" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".worker.ScheduleWorkersReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".worker.ObserveTrackerWorker"
            android:exported="false"/>

        <receiver
            android:name=".notifications.ScheduledNotificationReceiver"
            android:exported="false"/>

        <activity
            android:name=".ui.MainActivity"
            android:allowTaskReparenting="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.OnboardingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".util.ble.BluetoothLeService"
            android:enabled="true"
            android:foregroundServiceType="connectedDevice"
            android:exported="false"/>

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>
    </application>

</manifest>